/*
Infoblox SECURITY API

OpenAPI specification for Infoblox NIOS WAPI SECURITY objects

API version: 2.13.6
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package security

import (
	"github.com/Infoblox-CTO/infoblox-nios-go-client/internal"
	"github.com/Infoblox-CTO/infoblox-nios-go-client/option"
)

const serviceBasePath = "/wapi/v2.13.6"

// APIClient manages communication with the Infoblox SECURITY API 2.13.6
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	AdmingroupAPI AdmingroupAPI
	AdminroleAPI AdminroleAPI
	AdminuserAPI AdminuserAPI
	ApprovalworkflowAPI ApprovalworkflowAPI
	AuthpolicyAPI AuthpolicyAPI
	CacertificateAPI CacertificateAPI
	CertificateauthserviceAPI CertificateauthserviceAPI
	FtpuserAPI FtpuserAPI
	LdapAuthServiceAPI LdapAuthServiceAPI
	LocaluserauthserviceAPI LocaluserauthserviceAPI
	NetworkuserAPI NetworkuserAPI
	PermissionAPI PermissionAPI
	RadiusauthserviceAPI RadiusauthserviceAPI
	SamlauthserviceAPI SamlauthserviceAPI
	SnmpuserAPI SnmpuserAPI
	TacacsplusauthserviceAPI TacacsplusauthserviceAPI
	ThreatinsightallowlistAPI ThreatinsightallowlistAPI
	ThreatinsightcloudclientAPI ThreatinsightcloudclientAPI
	ThreatprotectionprofileAPI ThreatprotectionprofileAPI
	ThreatprotectionruleAPI ThreatprotectionruleAPI
	ThreatprotectionrulesetAPI ThreatprotectionrulesetAPI
	ThreatprotectionstatisticsAPI ThreatprotectionstatisticsAPI
	UserprofileAPI UserprofileAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithNIOSHostUrl(string) sets the URL for NIOS Portal.
// - WithNIOSUsername(string) sets the Username for the NIOS Portal.
// - WithNIOSPassword(string) sets the Password for the NIOS Portal.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultExtAttrs(map[string]struct{ Value string }) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.AdmingroupAPI = (*AdmingroupAPIService)(&c.Common)
	c.AdminroleAPI = (*AdminroleAPIService)(&c.Common)
	c.AdminuserAPI = (*AdminuserAPIService)(&c.Common)
	c.ApprovalworkflowAPI = (*ApprovalworkflowAPIService)(&c.Common)
	c.AuthpolicyAPI = (*AuthpolicyAPIService)(&c.Common)
	c.CacertificateAPI = (*CacertificateAPIService)(&c.Common)
	c.CertificateauthserviceAPI = (*CertificateauthserviceAPIService)(&c.Common)
	c.FtpuserAPI = (*FtpuserAPIService)(&c.Common)
	c.LdapAuthServiceAPI = (*LdapAuthServiceAPIService)(&c.Common)
	c.LocaluserauthserviceAPI = (*LocaluserauthserviceAPIService)(&c.Common)
	c.NetworkuserAPI = (*NetworkuserAPIService)(&c.Common)
	c.PermissionAPI = (*PermissionAPIService)(&c.Common)
	c.RadiusauthserviceAPI = (*RadiusauthserviceAPIService)(&c.Common)
	c.SamlauthserviceAPI = (*SamlauthserviceAPIService)(&c.Common)
	c.SnmpuserAPI = (*SnmpuserAPIService)(&c.Common)
	c.TacacsplusauthserviceAPI = (*TacacsplusauthserviceAPIService)(&c.Common)
	c.ThreatinsightallowlistAPI = (*ThreatinsightallowlistAPIService)(&c.Common)
	c.ThreatinsightcloudclientAPI = (*ThreatinsightcloudclientAPIService)(&c.Common)
	c.ThreatprotectionprofileAPI = (*ThreatprotectionprofileAPIService)(&c.Common)
	c.ThreatprotectionruleAPI = (*ThreatprotectionruleAPIService)(&c.Common)
	c.ThreatprotectionrulesetAPI = (*ThreatprotectionrulesetAPIService)(&c.Common)
	c.ThreatprotectionstatisticsAPI = (*ThreatprotectionstatisticsAPIService)(&c.Common)
	c.UserprofileAPI = (*UserprofileAPIService)(&c.Common)

	return c
}