/*
Infoblox GRID API

OpenAPI specification for Infoblox NIOS WAPI GRID objects

API version: 2.14
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package grid

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"

	"github.com/infobloxopen/infoblox-nios-go-client/internal"
)

type GridJoinAPI interface {
	/*
		Create Join an Infoblox appliance to an existing grid

		Joins a grid member to the master grid

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return GridJoinAPICreateRequest
	*/
	Create(ctx context.Context) GridJoinAPICreateRequest

	// CreateExecute executes the request
	//  @return CreateGridJoinResponse
	CreateExecute(r GridJoinAPICreateRequest) (*CreateGridJoinResponse, *http.Response, error)
}

// GridJoinAPIService GridJoinAPI service
type GridJoinAPIService internal.Service

type GridJoinAPICreateRequest struct {
	ctx            context.Context
	ApiService     GridJoinAPI
	gridJoin       *GridJoin
	returnAsObject *int32
}

// Object data to create
func (r GridJoinAPICreateRequest) GridJoin(gridJoin GridJoin) GridJoinAPICreateRequest {
	r.gridJoin = &gridJoin
	return r
}

// Select 1 if result is required as an object
func (r GridJoinAPICreateRequest) ReturnAsObject(returnAsObject int32) GridJoinAPICreateRequest {
	r.returnAsObject = &returnAsObject
	return r
}

func (r GridJoinAPICreateRequest) Execute() (*CreateGridJoinResponse, *http.Response, error) {
	return r.ApiService.CreateExecute(r)
}

/*
Create Join an Infoblox appliance to an existing grid

Joins a grid member to the master grid

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return GridJoinAPICreateRequest
*/
func (a *GridJoinAPIService) Create(ctx context.Context) GridJoinAPICreateRequest {
	return GridJoinAPICreateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateGridJoinResponse
func (a *GridJoinAPIService) CreateExecute(r GridJoinAPICreateRequest) (*CreateGridJoinResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []internal.FormFile
		localVarReturnValue *CreateGridJoinResponse
	)

	localBasePath, err := a.Client.Cfg.ServerURLWithContext(r.ctx, "GridJoinAPIService.Create")
	if err != nil {
		return localVarReturnValue, nil, internal.NewGenericOpenAPIError(err.Error())
	}

	localVarPath := localBasePath + "/grid/join"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.gridJoin == nil {
		return localVarReturnValue, nil, internal.ReportError("gridJoin is required and must be specified")
	}

	if r.returnAsObject != nil {
		internal.ParameterAddToHeaderOrQuery(localVarQueryParams, "_return_as_object", r.returnAsObject, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := internal.SelectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := internal.SelectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.gridJoin
	req, err := a.Client.PrepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.Client.CallAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := internal.NewGenericOpenAPIErrorWithBody(localVarHTTPResponse.Status, localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.Client.Decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := internal.NewGenericOpenAPIErrorWithBody(err.Error(), localVarBody)
		return localVarReturnValue, localVarHTTPResponse, newErr
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
