/*
Infoblox DNS API

OpenAPI specification for Infoblox NIOS WAPI DNS objects

API version: 2.12.3
Contact: jkhatri@infoblox.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dns

import (
	"github.com/Infoblox-CTO/infoblox-nios-go-client/internal"
	"github.com/Infoblox-CTO/infoblox-nios-go-client/option"
)

const serviceBasePath = "/wapi/v2.12.3"

// APIClient manages communication with the Infoblox DNS API 2.12.3
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	AllnsgroupAPI AllnsgroupAPI
	AllrecordsAPI AllrecordsAPI
	Dns64groupAPI Dns64groupAPI
	NsgroupAPI NsgroupAPI
	NsgroupdelegationAPI NsgroupdelegationAPI
	NsgroupforwardingmemberAPI NsgroupforwardingmemberAPI
	NsgroupforwardstubserverAPI NsgroupforwardstubserverAPI
	NsgroupstubmemberAPI NsgroupstubmemberAPI
	RecordaAPI RecordaAPI
	RecordaaaaAPI RecordaaaaAPI
	RecordcaaAPI RecordcaaAPI
	RecordcnameAPI RecordcnameAPI
	RecorddhcidAPI RecorddhcidAPI
	RecorddnameAPI RecorddnameAPI
	RecorddnskeyAPI RecorddnskeyAPI
	RecorddsAPI RecorddsAPI
	RecordhostAPI RecordhostAPI
	RecordmxAPI RecordmxAPI
	RecordnamepolicyAPI RecordnamepolicyAPI
	RecordnaptrAPI RecordnaptrAPI
	RecordnsAPI RecordnsAPI
	RecordnsecAPI RecordnsecAPI
	Recordnsec3API Recordnsec3API
	Recordnsec3paramAPI Recordnsec3paramAPI
	RecordptrAPI RecordptrAPI
	RecordrrsigAPI RecordrrsigAPI
	RecordsrvAPI RecordsrvAPI
	RecordtlsaAPI RecordtlsaAPI
	RecordtxtAPI RecordtxtAPI
	RecordunknownAPI RecordunknownAPI
	ZoneAuthAPI ZoneAuthAPI
	ZoneDelegatedAPI ZoneDelegatedAPI
	ZoneForwardAPI ZoneForwardAPI
	ZoneRpAPI ZoneRpAPI
	ZoneStubAPI ZoneStubAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithNIOSHostUrl(string) sets the URL for NIOS Portal.
// - WithNIOSAuth(string) sets the NIOSAuth for accessing the NIOS Portal.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultExtAttrs(map[string]struct{ Value string }) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.AllnsgroupAPI = (*AllnsgroupAPIService)(&c.Common)
	c.AllrecordsAPI = (*AllrecordsAPIService)(&c.Common)
	c.Dns64groupAPI = (*Dns64groupAPIService)(&c.Common)
	c.NsgroupAPI = (*NsgroupAPIService)(&c.Common)
	c.NsgroupdelegationAPI = (*NsgroupdelegationAPIService)(&c.Common)
	c.NsgroupforwardingmemberAPI = (*NsgroupforwardingmemberAPIService)(&c.Common)
	c.NsgroupforwardstubserverAPI = (*NsgroupforwardstubserverAPIService)(&c.Common)
	c.NsgroupstubmemberAPI = (*NsgroupstubmemberAPIService)(&c.Common)
	c.RecordaAPI = (*RecordaAPIService)(&c.Common)
	c.RecordaaaaAPI = (*RecordaaaaAPIService)(&c.Common)
	c.RecordcaaAPI = (*RecordcaaAPIService)(&c.Common)
	c.RecordcnameAPI = (*RecordcnameAPIService)(&c.Common)
	c.RecorddhcidAPI = (*RecorddhcidAPIService)(&c.Common)
	c.RecorddnameAPI = (*RecorddnameAPIService)(&c.Common)
	c.RecorddnskeyAPI = (*RecorddnskeyAPIService)(&c.Common)
	c.RecorddsAPI = (*RecorddsAPIService)(&c.Common)
	c.RecordhostAPI = (*RecordhostAPIService)(&c.Common)
	c.RecordmxAPI = (*RecordmxAPIService)(&c.Common)
	c.RecordnamepolicyAPI = (*RecordnamepolicyAPIService)(&c.Common)
	c.RecordnaptrAPI = (*RecordnaptrAPIService)(&c.Common)
	c.RecordnsAPI = (*RecordnsAPIService)(&c.Common)
	c.RecordnsecAPI = (*RecordnsecAPIService)(&c.Common)
	c.Recordnsec3API = (*Recordnsec3APIService)(&c.Common)
	c.Recordnsec3paramAPI = (*Recordnsec3paramAPIService)(&c.Common)
	c.RecordptrAPI = (*RecordptrAPIService)(&c.Common)
	c.RecordrrsigAPI = (*RecordrrsigAPIService)(&c.Common)
	c.RecordsrvAPI = (*RecordsrvAPIService)(&c.Common)
	c.RecordtlsaAPI = (*RecordtlsaAPIService)(&c.Common)
	c.RecordtxtAPI = (*RecordtxtAPIService)(&c.Common)
	c.RecordunknownAPI = (*RecordunknownAPIService)(&c.Common)
	c.ZoneAuthAPI = (*ZoneAuthAPIService)(&c.Common)
	c.ZoneDelegatedAPI = (*ZoneDelegatedAPIService)(&c.Common)
	c.ZoneForwardAPI = (*ZoneForwardAPIService)(&c.Common)
	c.ZoneRpAPI = (*ZoneRpAPIService)(&c.Common)
	c.ZoneStubAPI = (*ZoneStubAPIService)(&c.Common)

	return c
}