/*
Infoblox CLOUD API

OpenAPI specification for Infoblox NIOS WAPI CLOUD objects

API version: 2.12.3
Contact: jkhatri@infoblox.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package cloud

import (
	"github.com/Infoblox-CTO/infoblox-nios-go-client/internal"
	"github.com/Infoblox-CTO/infoblox-nios-go-client/option"
)

const serviceBasePath = "/wapi/v2.12.3"

// APIClient manages communication with the Infoblox CLOUD API 2.12.3
// In most cases there should be only one, shared, APIClient.
type APIClient struct {
	*internal.APIClient

	// API Services
	Awsrte53taskgroupAPI Awsrte53taskgroupAPI
	AwsuserAPI AwsuserAPI
	GridcloudapiAPI GridcloudapiAPI
	GridcloudapicloudstatisticsAPI GridcloudapicloudstatisticsAPI
	GridcloudapitenantAPI GridcloudapitenantAPI
	GridcloudapivmAPI GridcloudapivmAPI
	GridcloudapivmaddressAPI GridcloudapivmaddressAPI
	GridmembercloudapiAPI GridmembercloudapiAPI
	OutboundcloudclientAPI OutboundcloudclientAPI
}

// NewAPIClient creates a new API client.
// The client can be configured with a variadic option. The following options are available:
// - WithClientName(string) sets the name of the client using the SDK.
// - WithNIOSHostUrl(string) sets the URL for NIOS Portal.
// - WithNIOSAuth(string) sets the NIOSAuth for accessing the NIOS Portal.
// - WithHTTPClient(*http.Client) sets the HTTPClient to use for the SDK.
// - WithDefaultExtAttrs(map[string]struct{ Value string }) sets the tags the client can set by default for objects that has tags support.
// - WithDebug() sets the debug mode.
func NewAPIClient(options ...option.ClientOption) *APIClient {
	cfg := internal.NewConfiguration()
	for _, o := range options {
		o(cfg)
	}

	c := &APIClient{}
	c.APIClient = internal.NewAPIClient(serviceBasePath, cfg)

	// API Services
	c.Awsrte53taskgroupAPI = (*Awsrte53taskgroupAPIService)(&c.Common)
	c.AwsuserAPI = (*AwsuserAPIService)(&c.Common)
	c.GridcloudapiAPI = (*GridcloudapiAPIService)(&c.Common)
	c.GridcloudapicloudstatisticsAPI = (*GridcloudapicloudstatisticsAPIService)(&c.Common)
	c.GridcloudapitenantAPI = (*GridcloudapitenantAPIService)(&c.Common)
	c.GridcloudapivmAPI = (*GridcloudapivmAPIService)(&c.Common)
	c.GridcloudapivmaddressAPI = (*GridcloudapivmaddressAPIService)(&c.Common)
	c.GridmembercloudapiAPI = (*GridmembercloudapiAPIService)(&c.Common)
	c.OutboundcloudclientAPI = (*OutboundcloudclientAPIService)(&c.Common)

	return c
}